<form>
    <h3>Edit <span style="color:#5f5f5f">{{contact.name}}&nbsp;</span>contact card</h3>
    <img ng-src="{{cPhoto}}" style="min-height:200px"></img>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" ng-model="contact.name"></td>
        </tr>

        <tr ng-repeat="phone in contact.phones track by $index">
            <td>Phone {{$index + 1}}</td>
            <td><input placeholeder="phone" type="text" ng-model="phone.number"></td>
            <td><input type="checkbox" ng-model="phone.isDefault" ng-change="changeDefaultPhone($index)"/> </td>
        </tr>
        <tr>
            <td/>
            <td>
                <input type="button" value="Add phone" ng-click="addPhone()"/>
            </td>
        </tr>
    </table>
    <input type="button" ng-click="cancelSaving()" value="Cancel"/> 
    <input type="button" ng-click="save()" value="OK"/>
    
</form>