<div class="view">

    <h3>Hello, userName</h3>
    <label for="flex-query">Search:</label>
    <input id="flex-query" type="text" ng-model="phoneQuery"/>

    <div style="min-height:200px; ">
    <table style="border-collapse:collapse;">
        <tr class="phone-record-row" ng-repeat="contact in contactList| filter:phoneQuery">
            <td style="min-width:300px; padding-left:1em;">
                <span>{{contact.name}}</span>
                <span class="phone-value">{{contact.defaultPhone}}</span>     
            </td> 
            <td>
                <input type="button" class="btn btn-default btn-lg" ng-click="deleteContact($index)" value="del"/>
            </td>
            <td>
                <input type="button" class="btn btn-default btn-lg" ng-click="editContact($index)" value="edit"/>         
            </td> 
        </tr>
    </table>
    </div>


     <!-- <a href="" ng-click="addRandomContacts()">Add random</a>   -->
    <input type="button" class="btn btn-default btn-lg" ng-click="createContact()" value="Create"/> 
    <span>Showing {{listFrom}}..{{listTo}} from {{total_count}} friendly contacts</span>
    <a href="" class="paging-{{bw_paging_enabled}}" ng-click="switchPage(false)">prev</a> 
    <a href="" class="paging-{{fw_paging_enabled}}"ng-click="switchPage(true)">next</a>
</div>